<% if (typeof data !=='undefined' ){ %>
  <% if(data.error){ %>
    <br />
    <div class="alert alert-danger">
      <% data.error.forEach(error=> { %> <%= error %><br />
          <% }) %>
    </div>
    <% } %>
      <% } %>

