<% if (typeof messages !=='undefined' && messages.length > 0 ){ %>
    <br />
    <div class="alert alert-danger">
      <% messages.forEach(error=> { %> <%= error %><br />
          <% }) %>
    </div>
    <% } %>
